<!DOCTYPE html>
<html>
<head>
    <title>Star - Model prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Introduce the values</h2>
    
    <form action="/predict" method="post">
        Spectral Class: <input type="text" step="any" name="val2" required><br><br>
        log T: <input type="number" step="any" name="val3" required><br><br>
        log L/Lsol: <input type="number" step="any" name="val4" required><br><br>
        log R/Rsol: <input type=""number" step="any" name="val5" required><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>